<!-- menu.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
    <title>Menu </title>
    <link rel="stylesheet" href="/css/menu.css">
</head>

<body>


  <div class="sidenav">
    <div class="logo-container">
      <img th:src="@{/images/escudo.png}" alt="Escudo del Colegio">
    </div>
    <a>Bienvenido <span th:text="${usuario}">Nombre de Usuario</span></a>
    <button class="dropdown-btn">Profesores
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">listar</a>
      <a href="#">crear</a>
    </div>
    <button class="dropdown-btn">Alummnos
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">listar</a>
      <a href="#">crear</a>
    </div>
    <button class="dropdown-btn">Materias
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">listar</a>
      <a href="#">crear</a>
    </div>
    <button class="dropdown-btn">Calificaciones
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">listar</a>
      <a href="#">crear</a>
    </div>
    <button class="dropdown-btn">Matriculacion
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-container">
      <a href="#">listar</a>
      <a href="#">crear</a>
    </div>
    <a href="/" id="logout" style="bottom: 0; position: fixed; width: 176px; ">Cerrar Sessión</a>
  </div>


  <form id="logoutForm" action="@{/logout}" method="post">
    <input type="submit" value="Cerrar Sesión" />
  </form>

  <script src="../js/menu.js"></script>
</body>

</html>