body {
    font-family: Roboto;
}

a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
}

a:visited {
    color: black;
}

div.profesor_table_container {
    overflow: hidden;
    border: 1px solid black;
    padding: 10px;
}

div.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.input_search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

div.input_search_lupa i {
    color: lightgray;
    padding: 5px;
}

div.input_search_lupa {
    border: 2px solid lightgrey;
    padding: 5px;
    border-radius: 10px;
    margin-left: 20%;
    display: flex;
}

div.input_search_lupa:focus {
    border: 1px solid black;
}

div.input_search input {
    width: 200px;
    border: none;
    outline: none;
    background-color: transparent;
}

div.input_search span {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 5%;
    padding-bottom: 5%;

}

input:focus {
    border: 1px solid lightgray;
}

div.button_add_teacher button {
    background-color: #6C2941;
    color: white;
    padding: 15px;
    border: 1px solid #6C2941;
    border-radius: 10px;
    cursor: pointer;
}


div.table_container table {
    border-collapse: collapse;
}

div.table_container thead th {
    color: white;
    width: 400px;
    padding: 20px;
    background-color: #6C2941;
}

div.table_container thead th:first-child {
    border-top-left-radius: 10px;

}

div.table_container thead th:last-child {
    border-top-right-radius: 10px;

}

div.table_container tbody th {
    color: black;
    width: 250px;
    padding: 20px;
}

div.table_container tbody tr:nth-of-type(even) {
    background-color: #f8f3f5;
}


div.table_container tbody tr a {
    padding: 5px;
    margin: 2px;
}

div.foot_contanier {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

div.foot_contanier i {
    padding: 10px;
    padding-right: 10px;
}

div.foot_contanier button {
    background-color: #6C2941;
    border: 1px solid #6C2941;
    border-radius: 7px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
    width: 115px;
}

div.foot_contanier button.after_button span {
    padding-left: 10px;
}

div.foot_contanier button.before_button span {
    padding-right: 10px;
}