<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San José - Login</title>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <div class="login_container">
            <div class="escudo">
                <img src="./logo/Escudo.png" alt="escudo_escuela">
            </div>
            <div class="text_login">
                <h1>Institución Educativa</h1>
                <h1>San José de El Tejar</h1>
            </div>
            <div class="data user">
                <label for="user_name">Usuario</label>
                <input type="text" id="user_name" required placeholder="Escriba numero de cédula">
            </div>
            <div class="data password">
                <label for="password">Contraseña</label>
                <input type="text" id="password" required placeholder="Escriba su contraseña">
            </div>
            <div class="login_bottom">
                <a href="#">Iniciar Sesión</a>
            </div>
            <div class="social_media_logo">
                <div>
                    <a
                        href="https://www.facebook.com/p/Instituci%C3%B3n-Educativa-San-Jos%C3%A9-de-El-Tejar-100057593913527/ "><img
                            src="./logo/facebook_svg.svg" alt=""></a>
                    <a href="#"><img src="./logo/instagram-svg.svg" alt=""></a>
                    <a href="#"><img src="./logo/x-svg.svg" alt=""></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>